body {
    background: url("../imgs/login.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}    

.login-card {
    margin: auto;
}

.login-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}

.error {
    display: none;
    color: red;
    align-items: center;
    font-size: 12px;
    flex: 1;
}
